header {
  width: 100%;
  margin: 0 auto;
  height: 100px;
  text-align: center;
}

body {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.todo-list {
  background-color: lightblue;
  padding: 20px;
  margin: 30px auto;
  border: 1px solid black;
  width: 200px;
}

ul {
  list-style-type: none;
  padding: 0px;
}